<!DOCTYPE html>
<html lang="ch">
<head>
	<title>SampleApp</title>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">		
	<meta name="keywords" content="HTML,CSS,XML,JavaScript"> 
	<meta name="description" content="Website demo">
	<meta name="author" content="lmaozhang">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<%= csrf_meta_tags %>
	<%= javascript_include_tag 'modernizr'%>
	<%= stylesheet_link_tag    'application'%>
</head>
<body>
	<%= yield %>
	<%= javascript_include_tag 'application'%>
</body>
</html>